{% set pageTitle = 'about' %}
{% extends "layouts/master.twig" %}

{% block content %} 
            <div id="about">
                <div id="portrait-wrapper" class="bioimage">
                    <div class="portrait"></div>
                </div>
                <div class="bio">
                    <h4>ABOUT ANDREW</h4>
                    <p>
                        Andrew is a self taught software engineer with 20 years of IT experience.
                        Starting as a systems engineer with GTE (Verizon) in 1998, Andrew has 
                        worked in virtually every field of the IT world, and as career long contractor, he has also worked across a wide verity of industries.
                    </p>
                    <p>                            
                        Andrew is a full stack web and application developer with experience in front end design  and development (including popular Javascript frameworks), middle and back end development (utilizing a number of different languages and architectures), and database architecture and administration.
                    </p>
                    <p>    
                        Whether you need a simple web presence, an enterprise portal, or anything in between, Andrew has the experience and the know-how to handle the job.
                    </p>
                </div>
                <div class="box box1">
                    <h4>Languages</h4>
                    <p>
                        Programming is primarily about problem solving. The concepts are really the same! These are some of the languages I have experience with.
                    </p>
                    <p>
                        C#, C++, CSS3, HTML5, Java, Javascript, Objective C, Perl, PHP, Python, Ruby
                    </p>
                </div>
                <div class="box box2">
                    <h4>Frameworks</h4>
                    <p>
                        Most of the major frameworks are based on the MVC design pattern.
                    </p>
                    <p>
                        CakePHP, CodeIgniter, Django, Flask, Laravel, Micrsosoft MVC, Rails, React, Symfony, VueJS, Zend  
                    </p>
                </div>
                <div class="box box3">
                    <h4>CMS</h4>
                    <p>
                        DotNetNuke, Drupal, Joomla, Magento, Mambo, PHPNuke, Umbraco, WordPress
                    </p>
                </div>
            </div>
{% endblock %}