{% set pageTitle = 'blog' %}
{% extends "layouts/master.twig" %}

{% block content %}
                <div id="blog">
                    <div id="blog-posts">
                        
                    </div>
                    <div id="blog-sidebar">
                        <div id="blog-search">

                        </div>
                    </div>
                </div>
{% endblock %}
