{% set pageTitle, hideFooter = 'home', true %}
{% extends "layouts/master.twig" %}

{% block content %} 
            <div id="home">
                <h2>Andrew S Erwin</h2>
                <h3>Freelance web and application developer</h3>
                <div id="icons">
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="#"><i class="fab fa-github fa-2x"></i></a>
                </div>
            </div>
{% endblock %}

